title=人工智慧
presenter=10632
description=
seriesName=316889
location=140.124.
seriesId=0
scheduleId=0
uuid=ebdb0ab5-2bc8-4c63-85b4-d2c0ef30df7a
date=2023-06-08 14:22:47
captureAgentName=EMBA-PC-823
captureAgentId=2283
duration=10706
presenterQuality=1500k
presenter2Quality=1000k
presentationQuality=1000k
presenterFPS=15
presenter2FPS=15
presentationFPS=10
presenterWidth=1360
presenter2Width=0
presentationWidth=0
presenterHeigh=768
presenter2Heigh=0
presentationHeigh=0
